openapi: 3.0.3
info:
  title: Vintrace V6 API
  version: 1.0.0
  description: |-
    The vintrace API aims to make integrating vintrace into your application, quick and easy. Each vintrace customer has a different base API URL. If you are setting up an integration with vintrace,  please contact support@vintrace.com with the customer name you are integrating with and we can supply you with the connection URL.
    Requests should include **Accept: application/json**
    ## Pagination
    The vintrace REST API uses pagination to improve performance. Pagination is enforced for operations that could return a large collection of items.
    When you make a request to a paginated resource, the response wraps the returned array of values in a JSON object with paging metadata. For example:
    ``` json
    {
        "firstResult" : 0,
        "maxResult" : 20,
        "totalResultCount": 200,
        "nextURLPath": "/mob/api/v/endpoint-path?firstResult=20&maxResult=20",
        "prevURLPath": null,
        "results": [
            { /* result 0 */ },
            { /* result 1 */ },
            { /* result 2 */ }
        ]
    }
    ```
    * **firstResult**: The index of the first item returned in the page.
    * **maxResult**: The maximum number of items that a page can return. Some operations might have a limit for the number of items returned, and these limits may change without notice. 
      To find the maximum number of items that an operation could return, set maxResult to a large number—for example, over 1000—and if the returned value of maxResult is less than the requested value, the returned value is the maximum.

    * **totalResultCount**: The total number of items contained in all pages.
    * **nextURLPath**: The API path that will return the next page of data. If not included, this is the last page of data.
    * **prevURLPath**: The API path that will return the previous page of data. If not included, this is the first page of data.
    Sample request:
    `https://demo.vinx2.net/mob/api/v/products/list?firstResult=10&maxResult=20`
    If **firstResult** is not included in the request it will be defaulted to **0**
    If **maxResult** is not included in the request it will be defaulted to **20**. Please note that some legacy endpoints have a different default for maxResult which can be found in the endpoint's documentation. ---
servers:
  - url: 'https://oz50.vintrace.net/vinx2/api/v6'
    description: Example production url
  - url: 'https://sandbox.vintrace.net/vinx2demo/api/v6'
    description: Example sandbox url
paths:
  /workorders/list:
    get:
      summary: List available work orders
      operationId: List available work orders
      description: 'By default returns a list of all work orders that are in "Ready", "In progress", or "Submitted" states and are assigned to me or unassigned with a date range from 7 days ago to 3 days from now.'
      tags:
        - Jobs
      parameters:
        - name: max
          in: query
          description: The starting index of results.
          example: '30'
          schema:
            type: string
        - name: first
          in: query
          description: The starting index of results.
          example: '10'
          schema:
            type: string
        - name: startsWith
          in: query
          description: String that matches the QuickSearchResult against the start of the name.
          example: TWL2
          schema:
            type: string
        - name: assignedTo
          in: query
          description: 'A high-level filter to the work order assignedTo field, from the operator''s perspective. Possible values are AVAILABLE_TO_ME, ANYONE, MINE_ONLY, UNASSIGNED. Default value is AVAILABLE_TO_ME.'
          example: ANYONE
          schema:
            type: string
        - name: workOrderState
          in: query
          description: 'A high-level filter for the work order status, from the operator''s perspective. Possible values are ANY, IN_PROGRESS, NOT_STARTED, SUBMITTED, INCOMPLETE. Default value is ANY.'
          example: INCOMPLETE
          schema:
            type: string
        - name: fromDate
          in: query
          description: Format in YYYY-MM-DD format. Search for work orders with a scheduled date on or after this date. Default value is 7 days ago.
          example: '2017-10-1'
          schema:
            type: string
        - name: toDate
          in: query
          description: in YYYY-MM-DD format. Search for work orders with a scheduled date on or before this date. Default value is 3 days from now.
          example: '2017-10-30'
          schema:
            type: string
        - name: countOnly
          in: query
          description: Returns the number of results only.
          example: 'true'
          schema:
            type: boolean
        - name: wineryId
          in: query
          description: Winery id to filter on for work orders
          example: '4'
          schema:
            type: integer
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrderSearchResponse'
              example:
                firstResult: 0
                maxResult: 100
                totalResultCount: 3
                nextURLPath: null
                prevURLPath: null
                listText: All available
                workOrders:
                  - id: 283
                    code: TWL2821
                    jobCount: 1
                    jobCountText: 0 of 1 job
                    status: Not started
                    assignedTo: Not assigned
                    assignedBy: System Administrator
                    assignedDate: 149119785000
                    scheduledDate: 1493215200000
                    assignedDateAsText: 04/03/2017
                    scheduledDateAsText: 04/27/2017
                    canAssign: true
                    summary: Measure BCF02
                    indicators: []
                    bond: null
                    winery: null
                    jobs: []
                    colourCode: '#f83a22'
                    endpointURL: /vinx2/api/v/workorders/283
                  - id: 2834
                    code: TWL2819
                    jobCount: 1
                    jobCountText: 0 of 1 job
                    status: Not started
                    assignedTo: Assigned to me
                    assignedBy: System Administrator
                    assignedDate: 1491192707000
                    scheduledDate: 149330100000
                    assignedDateAsText: 04/03/2017
                    scheduledDateAsText: 04/28/2017
                    canAssign: false
                    summary: Bulk dispatch to ABC Wine Company
                    indicators: []
                    bond: null
                    winery: null
                    jobs: []
                    colourCode: '#498e7'
                    endpointURL: /vinx2/api/v/workorders/2834
                  - id: 2842
                    code: TWL2827
                    jobCount: 2
                    jobCountText: 0 of 2 jobs
                    status: Not started
                    assignedTo: Not assigned
                    assignedBy: System Administrator
                    assignedDate: 149134411000
                    scheduledDate: 149330100000
                    assignedDateAsText: 04/05/2017
                    scheduledDateAsText: 04/28/2017
                    canAssign: true
                    summary: 'Add Gum Arabic - Stabivin, Measure BCF02'
                    indicators: []
                    bond: null
                    winery: null
                    jobs: []
                    colourCode: '#f83a22'
                    endpointURL: /vinx2/api/v/workorders/2842
  '/workorders/{id}':
    get:
      summary: Get work order details by id or code
      operationId: Get work order details by id or code
      description: Returns a single work order with a given id or code.
      tags:
        - Jobs
      parameters:
        - name: id
          in: path
          description: The ID of the work order.
          example: '25'
          required: true
          schema:
            type: string
        - name: code
          in: query
          description: The TWL number of the work order.
          example: TWL2827
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkOrder'
              example:
                id: 2842
                code: TWL2827
                jobCount: 2
                jobCountText: 0 of 2 jobs
                status: Not started
                assignedTo: Not assigned
                assignedBy: System Administrator
                assignedDate: 149134411000
                scheduledDate: 149330100000
                assignedDateAsText: 04/05/2017
                scheduledDateAsText: 04/28/2017
                canAssign: true
                summary: 'Add Gum Arabic - Stabivin, Measure BCF02'
                indicators:
                  - CRUSH
                  - LAB
                  - PRESS
                bond: JX2 Winery - 1234
                winery: JX2 Winery
                jobs:
                  - id: 482
                    code: AT482
                    scheduledDate: 149330100000
                    finishedDate: null
                    scheduledDateAsText: 04/28/2017
                    finishedDateAsText: ''
                    status: Not started
                    assignedBy: System Administrator
                    assignedTo: Not assigned
                    summaryText: Add Gum Arabic - Stabivin to BADD01 in T1-02
                    miniSummaryText: Add Gum Arabic - Stabivin
                    jobColour: '#f91b2'
                    jobNumber: 1
                    stepText: null
                    steps: []
                    endpointURL: /vinx2/api/v/workorders/jobs/482
                    jobVersion: 0
                    workOrderId: 2842
                  - id: 4827
                    code: AT4827
                    scheduledDate: 149330100000
                    finishedDate: null
                    scheduledDateAsText: 04/28/2017
                    finishedDateAsText: ''
                    status: Not started
                    assignedBy: System Administrator
                    assignedTo: Not assigned
                    summaryText: Measure volume of batch BCF02 in 111 to 58 gal
                    miniSummaryText: Measure BCF02
                    jobColour: '#cd74e'
                    jobNumber: 2
                    stepText: null
                    steps: []
                    endpointURL: /vinx2/api/v/workorders/jobs/4827
                    jobVersion: 0
                    workOrderId: 2842
                colourCode: '#f83a22'
                endpointURL: /vinx2/api/v/workorders/2842
  /workorders/assign:
    post:
      summary: Assign a work order
      operationId: Assign a work order
      description: Assign a work order to me
      tags:
        - Jobs
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              workOrderId: 25
            schema:
              $ref: '#/components/schemas/AssignWorkData'
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignWorkResponse'
              example:
                status: OK
                message: null
                jobEndpointURL: null
                workOrderEndpointURL: /mob/api/v/workorders/25
  '/workorders/jobs/{jobId}':
    get:
      summary: Get job details by id
      operationId: Get job details by id
      description: Returns a single job with a given id or code.
      tags:
        - Jobs
      parameters:
        - name: jobId
          in: path
          description: The ID of the job.
          required: true
          example: '15480'
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
  /workorders/submit:
    post:
      summary: Submit job details
      operationId: Submit job details
      description: ''
      tags:
        - Jobs
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              jobId: 15480
              submitType: draft
              fields:
                - fieldId: 59bc-0738-4a9d-bb45-f5388032d234
                  value: Tastes good x2
                - fieldId: 295b973-f22-42c8-ba15-74ac21f797c7
                  value: my notes x2
            schema:
              $ref: '#/components/schemas/SubmitJobRequest'
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitWorkOrderStepsResponse'
              example:
                status: SUCCESS
                message: ''
  /sales-order/list:
    get:
      summary: List available sales orders
      operationId: List available sales orders
      description: Returns a list of the first 100 sales orders.
      tags:
        - Sales
      parameters:
        - name: max
          in: query
          description: The starting index of results.
          example: '30'
          schema:
            type: string
        - name: first
          in: query
          description: The starting index of results.
          example: '10'
          schema:
            type: string
        - name: startsWith
          in: query
          description: String that matches the QuickSearchResult against the start of the name.
          example: VSO
          schema:
            type: string
        - name: status
          in: query
          description: 'Status of the sales order: New, Approved, Payment in Progress, Paid.'
          example: Approved
          schema:
            type: string
        - name: customerName
          in: query
          description: Customer on the sales order.
          example: Adobe Creek Warehouse`
          schema:
            type: string
        - name: startDate
          in: query
          description: Start date to filter out the results of the sales orders in YYYY-MM-DD format.
          example: '2017-04-01'
          schema:
            type: string
        - name: endDate
          in: query
          description: End date to filter out the results of the sales orders in YYYY-MM-DD format.
          example: '2017-04-30'
          schema:
            type: string
        - name: invStartDate
          in: query
          description: The starting invoiced date to filter out sales order results in YYYY-MM-DD format.
          example: '2017-04-01'
          schema:
            type: string
        - name: invEndDate
          in: query
          description: The ending invoiced date to filter out sales order results in YYYY-MM-DD format.
          example: '2017-04-30'
          schema:
            type: string
        - name: externalTransactionId
          in: query
          description: External transaction ID linked to the sales order.
          example: 'ABC:12345'
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderResponse'
              example:
                status: Success
                message: null
                salesOrders:
                  - id: 22
                    invoiceDate: null
                    invoiceDateAsText: ''
                    customerId: 43
                    customerName: ABC Wine Company
                    sendTo:
                      name: ABC Wine Company
                      phone: null
                      address:
                        street1: 1 Some Street
                        street2: null
                        city: Napa
                        state: CA
                        postalCode: '94558'
                        country: null
                    salesType: Retail
                    salesPriceListId: 7
                    salesPriceListName: GST inclusive
                    priceDetails:
                      countryCurrencyCode: AUD Australia Dollar
                      taxPolicy: Tax Inclusive
                    salesOrderStatus: New
                    salesOrderItems:
                      - id: 424
                        itemId: 2
                        itemName: 11CH-SHINER/CS
                        unitPrice: 10.5
                        quantity: 20
                        unitOfMeasure: x12
                        discountPct: null
                        adjustment: null
                        taxAmount: 19.09
                        lineTotal: 210
                        accountId: 3
                        accountCode: Revenue
                        taxRateId: 5
                        taxRateName: GST inclusive
                    code: VSO20
                    description: null
                    reference: null
                    orderDate: 1494424800000
                    orderDateAsText: 11/05/2017
                    wineryId: null
                    wineryName: null
                    fulfillment: Approved to send
                    fulfillmentDate: null
                    fulfillmentDateAsText: ''
                    salesRegionId: null
                    salesRegionCode: null
                    notes: ''
                    customerPickup: false
                    disableAccountsSync: false
                    subTotal: 210
                    taxBreakdown:
                      - name: GST
                        amount: 19.09
                        ratePct: 10
                        inclusive: true
                    total: 210
                    acctReference: b211a90-84ab-42b8-9c01-add4bfaf1bb
                    posSaleReference: null
                    ignoreStockError: false
                  - id: 24
                    invoiceDate: null
                    invoiceDateAsText: ''
                    customerId: 101
                    customerName: Adobe Creek Warehouse
                    sendTo:
                      name: Adobe Creek Warehouse
                      phone: '(707) 123-457 '
                      address:
                        street1: 123 Somewhere
                        street2: null
                        city: Petaluma
                        state: CA
                        postalCode: '94952'
                        country: null
                    salesType: Wholesale
                    salesPriceListId: null
                    salesPriceListName: WET
                    priceDetails:
                      countryCurrencyCode: AUD Australia Dollar
                      taxPolicy: Tax Exclusive
                    salesOrderStatus: New
                    salesOrderItems:
                      - id: 427
                        itemId: 2
                        itemName: 10DEMOCASE
                        unitPrice: 13.45
                        quantity: 10
                        unitOfMeasure: x12
                        discountPct: null
                        adjustment: null
                        taxAmount: 5.3
                        lineTotal: 190.85
                        accountId: 3
                        accountCode: Revenue
                        taxRateId: 4
                        taxRateName: WET+GST
                      - id: 428
                        itemId: 21
                        itemName: 10NVCH/12
                        unitPrice: 18.45
                        quantity: 20
                        unitOfMeasure: x12
                        discountPct: null
                        taxAmount: 154.1
                        lineTotal: 523.1
                        accountId: 3
                        accountCode: Revenue
                        taxRateId: 4
                        taxRateName: WET+GST
                    code: VSO22
                    description: null
                    reference: null
                    orderDate: 1494424800000
                    orderDateAsText: 11/05/2017
                    wineryId: null
                    wineryName: null
                    fulfillment: Approved to send
                    fulfillmentDate: null
                    fulfillmentDateAsText: ''
                    salesRegionId: null
                    salesRegionCode: null
                    notes: ''
                    customerPickup: false
                    disableAccountsSync: false
                    subTotal: 503.5
                    taxBreakdown:
                      - name: WET
                        amount: 14.01
                        ratePct: 29
                        inclusive: false
                      - name: GST
                        amount: 4.95
                        ratePct: 10
                        inclusive: false
                    total: 714.4
                    acctReference: null
                    posSaleReference: null
                    ignoreStockError: false
                  - id: 484
                    invoiceDate: 149570400000
                    invoiceDateAsText: 25/05/2017
                    customerId: 43
                    customerName: ABC Wine Company
                    sendTo:
                      name: ABC Wine Company
                      phone: null
                      address:
                        street1: 1 Some Street
                        street2: null
                        city: Napa
                        state: CA
                        postalCode: '94558'
                        country: null
                    salesType: Wholesale
                    salesPriceListId: null
                    salesPriceListName: WET
                    priceDetails:
                      countryCurrencyCode: AUD Australia Dollar
                      taxPolicy: Tax Exclusive
                    salesOrderStatus: New
                    salesOrderItems:
                      - id: 72
                        itemId: 39
                        itemName: 10NVCHDEMO
                        unitPrice: 88
                        quantity: 20
                        unitOfMeasure: x12
                        discountPct: 10
                        adjustment: 52.8
                        taxAmount: 199.11
                        lineTotal: 74.31
                        accountId: 3
                        accountCode: Revenue
                        taxRateId: 4
                        taxRateName: WET+GST
                      - id: 73
                        itemId: 1
                        itemName: BCF01/BLK
                        unitPrice: 30
                        quantity: 20
                        unitOfMeasure: x12
                        discountPct: 20
                        adjustment: 120
                        taxAmount: 201.12
                        lineTotal: 81.12
                        accountId: 3
                        accountCode: Revenue
                        taxRateId: 4
                        taxRateName: WET+GST
                    code: VSO47
                    description: null
                    reference: null
                    orderDate: 149570400000
                    orderDateAsText: 25/05/2017
                    wineryId: null
                    wineryName: null
                    fulfillment: Approved to send
                    fulfillmentDate: null
                    fulfillmentDateAsText: ''
                    salesRegionId: null
                    salesRegionCode: null
                    notes: null
                    customerPickup: false
                    disableAccountsSync: false
                    subTotal: 955.2
                    taxBreakdown:
                      - name: WET
                        amount: 277.01
                        ratePct: 29
                        inclusive: false
                      - name: GST
                        amount: 123.22
                        ratePct: 10
                        inclusive: false
                    total: 1355.43
                    acctReference: null
                    posSaleReference: null
                    ignoreStockError: false
  '/sales-order/{id}':
    get:
      summary: Get sales order details by id
      operationId: Get sales order details by id
      description: Returns a single sales order with a given id.
      tags:
        - Sales
      parameters:
        - name: id
          in: path
          description: The ID of the sales order.
          required: true
          example: '22'
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
              example:
                id: 22
                invoiceDate: null
                invoiceDateAsText: ''
                customerId: 43
                customerName: ABC Wine Company
                sendTo:
                  name: ABC Wine Company
                  phone: null
                  address:
                    street1: 1 Some Street
                    street2: null
                    city: Napa
                    state: CA
                    postalCode: '94558'
                    country: null
                salesType: Retail
                salesPriceListId: 7
                salesPriceListName: GST inclusive
                priceDetails:
                  countryCurrencyCode: AUD Australia Dollar
                  taxPolicy: Tax Inclusive
                salesOrderStatus: New
                salesOrderItems:
                  - id: 424
                    itemId: 2
                    itemName: 11CH-SHINER/CS
                    unitPrice: 10.5
                    quantity: 20
                    unitOfMeasure: x12
                    discountPct: null
                    adjustnemt: null
                    taxAmount: 19.09
                    lineTotal: 210
                    accountId: 3
                    accountCode: Revenue
                    taxRateId: 5
                    taxRateName: GST inclusive
                code: VSO20
                description: null
                reference: null
                orderDate: 1494424800000
                orderDateAsText: 11/05/2017
                wineryId: null
                wineryName: null
                fulfillment: Approved to send
                fulfillmentDate: null
                fulfillmentDateAsText: ''
                salesRegionId: null
                salesRegionCode: null
                notes: ''
                customerPickup: false
                disableAccountsSync: false
                subTotal: 210
                taxBreakdown:
                  - name: GST
                    amount: 19.09
                    ratePct: 10
                    inclusive: true
                total: 210
                acctReference: b211a90-84ab-42b8-9c01-add4bfaf1bb
                posSaleReference: null
                ignoreStockError: false
  /sales-order:
    get:
      summary: Get sales order details by code
      operationId: Get sales order details by code
      description: Returns a single sales order with a given code.
      tags:
        - Sales
      parameters:
        - name: code
          in: query
          description: The sales order number.
          example: VSO20
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrder'
              example:
                id: 22
                invoiceDate: null
                invoiceDateAsText: ''
                customerId: 43
                customerName: ABC Wine Company
                sendTo:
                  name: ABC Wine Company
                  phone: null
                  address:
                    street1: 1 Some Street
                    street2: null
                    city: Napa
                    state: CA
                    postalCode: '94558'
                    country: null
                salesType: Retail
                salesPriceListId: 7
                salesPriceListName: GST inclusive
                priceDetails:
                  countryCurrencyCode: AUD Australia Dollar
                  taxPolicy: Tax Inclusive
                salesOrderStatus: New
                salesOrderItems:
                  - id: 424
                    itemId: 2
                    itemName: 11CH-SHINER/CS
                    unitPrice: 10.5
                    quantity: 20
                    unitOfMeasure: x12
                    discountPct: null
                    adjustnemt: null
                    taxAmount: 19.09
                    lineTotal: 210
                    accountId: 3
                    accountCode: Revenue
                    taxRateId: 5
                    taxRateName: GST inclusive
                code: VSO20
                description: null
                reference: null
                orderDate: 1494424800000
                orderDateAsText: 11/05/2017
                wineryId: null
                wineryName: null
                fulfillment: Approved to send
                fulfillmentDate: null
                fulfillmentDateAsText: ''
                salesRegionId: null
                salesRegionCode: null
                notes: ''
                customerPickup: false
                disableAccountsSync: false
                subTotal: 210
                taxBreakdown:
                  - name: GST
                    amount: 19.09
                    ratePct: 10
                    inclusive: true
                total: 210
                acctReference: b211a90-84ab-42b8-9c01-add4bfaf1bb
                posSaleReference: null
                ignoreStockError: false
    post:
      summary: Create or update a sales order
      operationId: Create or update a sales order
      description: 'For sales order with discounts and accounting integration with Xero is turned on for the customer, enter the discount as percentage value in `discountPct` field. Otherwise, if accounting integration is off, enter the discount in `adjustment` field as a dollar value. To update a sales order, you need to provide the `id'' of the sales order.'
      tags:
        - Sales
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesOrder'
            example:
              customerName: ABC Wine Company
              salesPriceListName: WET Retail Inclusive
              salesType: Retail
              salesOrderStatus: Approved
              invoiceDate: 14920800000
              customerPickup: false
              disableAccountsSync: false
              salesOrderItems:
                - itemName: 10NVCH/12
                  unitPrice: 20
                  quantity: 20
                  unitOfMeasure: x12
                  discountPct: 10
                  adjustment: null
                  accountCode: Revenue
                - itemName: BCF01/BLK
                  unitPrice: 30
                  quantity: 20
                  unitOfMeasure: x12
                  discountPct: 20
                  adjustment: null
                  accountCode: Revenue
              orderDate: 1491300000
              ignoreStockError: true
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesOrderUpdateResponse'
              example:
                status: Success
                message: null
                salesOrder:
                  id: 73
                  invoiceDate: 14920800000
                  invoiceDateAsText: 05/0/2017
                  customerId: 43
                  customerName: ABC Wine Company
                  sendTo:
                    name: ABC Wine Company
                    phone: null
                    address:
                      street1: 1 Some Street
                      street2: null
                      city: Napa
                      state: CA
                      postalCode: '94558'
                      country: null
                  salesType: Retail
                  salesPriceListId: 11
                  salesPriceListName: WET Retail Inclusive
                  priceDetails:
                    countryCurrencyCode: AUD Australia Dollar
                    taxPolicy: Tax Inclusive
                  salesOrderStatus: Approved
                  salesOrderItems:
                    - id: 108
                      itemId: 21
                      itemName: 10NVCH/12
                      unitPrice: 20
                      quantity: 20
                      unitOfMeasure: x12
                      discountPct: 10
                      adjustment: 40
                      taxAmount: 32.73
                      lineTotal: 30
                      accountId: 3
                      accountCode: Revenue
                      taxRateId: null
                      taxRateName: WET + GST Inclusive
                    - id: 109
                      itemId: 1
                      itemName: BCF01/BLK
                      unitPrice: 30
                      quantity: 20
                      unitOfMeasure: x12
                      discountPct: 20
                      adjustment: 120
                      taxAmount: 43.4
                      lineTotal: 480
                      accountId: 3
                      accountCode: Revenue
                      taxRateId: null
                      taxRateName: WET + GST Inclusive
                  code: SalesOrder#1
                  description: null
                  reference: null
                  orderDate: 1491300000
                  orderDateAsText: 05/0/2017
                  wineryId: 1
                  wineryName: JX2 Winery
                  fulfillment: Approved to send
                  fulfillmentDate: null
                  fulfillmentDateAsText: ''
                  salesRegionId: null
                  salesRegionCode: null
                  notes: null
                  customerPickup: false
                  disableAccountsSync: false
                  subTotal: 840
                  taxBreakdown:
                    - name: GST
                      amount: 7.37
                      ratePct: 10
                      inclusive: true
                    - name: WET
                      amount: 0
                      ratePct: 0
                      inclusive: true
                  total: 840
                  acctReference: null
                  posSaleReference: null
                  ignoreStockError: false
  /refund/list:
    get:
      summary: List available refunds
      operationId: List available refunds
      description: Returns a list of the first 100 refunds.
      tags:
        - Sales
      parameters:
        - name: max
          in: query
          description: The starting index of results.
          example: '30'
          schema:
            type: string
        - name: first
          in: query
          description: The starting index of results.
          example: '10'
          schema:
            type: string
        - name: startsWith
          in: query
          description: String that matches the QuickSearchResult against the start of the name.
          example: VCR10
          schema:
            type: string
        - name: status
          in: query
          description: 'Status of the sales order: Awaiting approval, Approved.'
          example: Approved
          schema:
            type: string
        - name: customerName
          in: query
          description: Customer on the sales order.
          example: Adobe Creek Warehouse`
          schema:
            type: string
        - name: startDate
          in: query
          description: Start date to filter out the results of the sales orders in YYYY-MM-DD format.
          example: '2017-04-01'
          schema:
            type: string
        - name: endDate
          in: query
          description: End date to filter out the results of the sales orders in YYYY-MM-DD format.
          example: '2017-04-30'
          schema:
            type: string
        - name: salesOrderName
          in: query
          description: String that matches the sales order code of the refund.
          example: VSO21
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
              example:
                status: Success
                message: null
                refunds:
                  - id: 73
                    name: VCR201
                    refundDate: 1493820000000
                    refundDateAsText: 04/05/2017
                    reference: null
                    stockReturned: false
                    storageAreaId: null
                    storageAreaName: null
                    customerId: 43
                    customerName: ABC Wine Company
                    refundStatus: Awaiting approval
                    notes: Created from API
                    salesOrderId: 20
                    salesOrderName: VSO258
                    subTotal: 1334.55
                    total: 1334.55
                    taxBreakdown:
                      - name: GST
                        amount: 121.32
                        ratePct: 10
                        inclusive: true
                      - name: WET
                        amount: 0
                        ratePct: 0
                        inclusive: true
                    refundLineItems:
                      - id: 152
                        itemId: 41
                        itemName: 11GCZIN - 12 X 750
                        unitPrice: 25
                        returnQuantity: 10
                        returnTotal: 250
                        taxAmount: 22.73
                      - id: 153
                        itemId: 417
                        itemName: 13GB/12
                        unitPrice: 22.5
                        returnQuantity: 10
                        returnTotal: 225
                        taxAmount: 20.45
                      - id: 154
                        itemId: 418
                        itemName: 14CS DEMO/BLK
                        unitPrice: 35.48
                        returnQuantity: 20
                        returnTotal: 709
                        taxAmount: 4.51
                      - id: 155
                        itemId: 419
                        itemName: Wine cooler
                        unitPrice: 29.99
                        returnQuantity: 5
                        returnTotal: 149.95
                        taxAmount: 13.3
                    posSaleReference: null
                  - id: 75
                    name: VCR205
                    refundDate: 1493820000000
                    refundDateAsText: 04/05/2017
                    reference: null
                    stockReturned: false
                    storageAreaId: null
                    storageAreaName: null
                    customerId: 101
                    customerName: Adobe Creek Warehouse
                    refundStatus: Awaiting approval
                    notes: Created from API
                    salesOrderId: 24
                    salesOrderName: VSO22
                    subTotal: 319
                    total: 452.5
                    taxBreakdown:
                      - name: GST
                        amount: 41.15
                        ratePct: 10
                        inclusive: false
                      - name: WET
                        amount: 92.5
                        ratePct: 29
                        inclusive: false
                    refundLineItems:
                      - id: 10
                        itemId: 427
                        itemName: 10DEMOCASE
                        unitPrice: 13.45
                        returnQuantity: 10
                        returnTotal: 190.85
                        taxAmount: 5.3
                      - id: 11
                        itemId: 428
                        itemName: 10NVCH/12
                        unitPrice: 18.45
                        returnQuantity: 10
                        returnTotal: 21.8
                        taxAmount: 77.31
                    posSaleReference: null
  '/refund/{id}':
    get:
      summary: Get refund details by id
      operationId: Get refund details by id
      description: Returns a single refund with a given id.
      tags:
        - Sales
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the refund.
          example: '75'
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
              example:
                id: 75
                name: VCR205
                refundDate: 1493820000000
                refundDateAsText: 04/05/2017
                reference: null
                stockReturned: false
                storageAreaId: null
                storageAreaName: null
                customerId: 101
                customerName: Adobe Creek Warehouse
                refundStatus: Awaiting approval
                notes: Created from API
                salesOrderId: 24
                salesOrderName: VSO22
                subTotal: 319
                total: 452.5
                taxBreakdown:
                  - name: GST
                    amount: 41.15
                    ratePct: 10
                    inclusive: false
                  - name: WET
                    amount: 92.5
                    ratePct: 29
                    inclusive: false
                refundLineItems:
                  - id: 10
                    itemId: 427
                    itemName: 10DEMOCASE
                    unitPrice: 13.45
                    returnQuantity: 10
                    returnTotal: 190.85
                    taxAmount: 5.3
                  - id: 11
                    itemId: 428
                    itemName: 10NVCH/12
                    unitPrice: 18.45
                    returnQuantity: 10
                    returnTotal: 21.8
                    taxAmount: 77.31
                posSaleReference: null
  /refund:
    get:
      summary: Get refund details by code
      operationId: Get refund details by code
      description: Returns a single refund with a given code.
      tags:
        - Sales
      parameters:
        - name: code
          in: query
          description: The refund name.
          example: VS205
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
              example:
                id: 75
                name: VCR205
                refundDate: 1493820000000
                refundDateAsText: 04/05/2017
                reference: null
                stockReturned: false
                storageAreaId: null
                storageAreaName: null
                customerId: 101
                customerName: Adobe Creek Warehouse
                refundStatus: Awaiting approval
                notes: Created from API
                salesOrderId: 24
                salesOrderName: VSO22
                subTotal: 319
                total: 452.5
                taxBreakdown:
                  - name: GST
                    amount: 41.15
                    ratePct: 10
                    inclusive: false
                  - name: WET
                    amount: 92.5
                    ratePct: 29
                    inclusive: false
                refundLineItems:
                  - id: 10
                    itemId: 427
                    itemName: 10DEMOCASE
                    unitPrice: 13.45
                    returnQuantity: 10
                    returnTotal: 190.85
                    taxAmount: 5.3
                  - id: 11
                    itemId: 428
                    itemName: 10NVCH/12
                    unitPrice: 18.45
                    returnQuantity: 10
                    returnTotal: 21.8
                    taxAmount: 77.31
                posSaleReference: null
    post:
      summary: Create or update a refund
      operationId: Create or update a refund
      description: 'To update a refund, you need to provide the `id'' of the refund.'
      tags:
        - Sales
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Refund'
            example:
              refundDate: 1493820000000
              salesOrderName: VSO22
              notes: Created from API
              refundLineItems:
                - itemName: 10DEMOCASE
                  returnQuantity: 10
                - itemName: 10NVCH/12
                  returnQuantity: 10
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundUpdateResponse'
              example:
                status: Success
                message: null
                refund:
                  id: 75
                  name: VCR205
                  refundDate: 1493820000000
                  refundDateAsText: 04/05/2017
                  reference: null
                  stockReturned: false
                  storageAreaId: null
                  storageAreaName: null
                  customerId: 101
                  customerName: Adobe Creek Warehouse
                  refundStatus: Awaiting approval
                  notes: Created from API
                  salesOrderId: 24
                  salesOrderName: VSO22
                  subTotal: 319
                  total: 452.5
                  disableAccountsSync: false
                  acctReference: null
                  taxBreakdown:
                    - name: WET
                      amount: 92.5
                      ratePct: 29
                      inclusive: false
                    - name: GST
                      amount: 41.15
                      ratePct: 10
                      inclusive: false
                  refundLineItems:
                    - id: 10
                      itemId: 427
                      itemName: 10DEMOCASE
                      unitPrice: 13.45
                      returnQuantity: 10
                      returnTotal: 190.85
                      taxAmount: 5.3
                    - id: 11
                      itemId: 428
                      itemName: 10NVCH/12
                      unitPrice: 18.45
                      returnQuantity: 10
                      returnTotal: 21.8
                      taxAmount: 77.31
                  posSaleReference: null
  /party/list:
    get:
      summary: List parties
      operationId: List parties
      description: Returns a list of the first 100 parties.
      tags:
        - Sales
      parameters:
        - name: max
          in: query
          description: 'The starting index of results. Default: 100.'
          example: '30'
          schema:
            type: string
        - name: first
          in: query
          description: The starting index of results.
          example: '10'
          schema:
            type: string
        - name: startsWith
          in: query
          description: 'String that matches the primeName (Surname field in vintrace for individuals, Company Name for organisations) with the given string against the start of the name.'
          example: ABC Wine Company
          schema:
            type: string
        - name: category
          in: query
          description: 'Category of the party: All, Individuals, Organisations.'
          example: All
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartyResponse'
              example:
                status: Success
                message: null
                parties:
                  - id: 43
                    primeName: ABC Wine Company
                    givenName: '03123457'
                    phone: null
                    email: null
                    address:
                      street1: 1 Some Street
                      street2: null
                      city: Napa
                      state: CA
                      postalCode: '94558'
                      country: null
                    isOrganization: true
                  - id: 13
                    primeName: Smith
                    givenName: Adam
                    phone: '04123457'
                    email: smith@123.com
                    address:
                      street1: 22 Rainbow Walk
                      street2: null
                      city: HACKHAM
                      state: VIC
                      postalCode: '513'
                      country: AUSTRALIA
                    isOrganization: false
  '/party/{id}':
    get:
      summary: Get party details by id
      operationId: Get party details by id
      description: Returns a single party with a given id.
      tags:
        - Sales
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the party.
          example: '18'
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Party'
              example:
                id: 17
                primeName: Smith
                givenName: Adam
                phone: null
                email: smith@123.com
                address:
                  street1: 22 Rainbow Walk
                  street2: null
                  city: HACKHAM
                  state: VIC
                  postalCode: '513'
                  country: AUSTRALIA
                isOrganization: false
  /party:
    get:
      summary: Get party details by name
      operationId: Get party details by name
      description: Returns a single party with a given code.
      tags:
        - Sales
      parameters:
        - name: name
          in: query
          description: The primeName (surname) if the party is an individual or the primeName (company name) if the party is an organisation.
          example: Smith
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Party'
              example:
                id: 17
                primeName: Smith
                givenName: Adam
                phone: null
                email: smith@123.com
                address:
                  street1: 22 Rainbow Walk
                  street2: null
                  city: HACKHAM
                  state: VIC
                  postalCode: '513'
                  country: AUSTRALIA
                isOrganization: false
    post:
      summary: Create or update a party
      operationId: Create or update a party
      description: 'To update a party, you need to provide the `id` of the party.'
      tags:
        - Sales
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Party'
            example:
              primeName: Smith
              givenName: Adam
              phone: '0411192922'
              email: smith@123.com
              address:
                street1: 22 Rainbow Walk
                street2: null
                city: HACKHAM
                state: VIC
                postalCode: '513'
                country: AUSTRALIA
              isOrganization: false
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartyUpdateResponse'
              example:
                status: Success
                message: null
                party:
                  id: 17
                  primeName: Smith
                  givenName: Adam
                  phone: '0411192922'
                  email: smith@123.com
                  address:
                    street1: 22 Rainbow Walk
                    street2: null
                    city: HACKHAM
                    state: VIC
                    postalCode: '513'
                    country: AUSTRALIA
                  isOrganization: false
  '/products/{id}':
    get:
      summary: Search for a product by id
      operationId: productSearch
      description: Searches for a product using an id and returns the product details and vessel information.
      tags:
        - Bulk wine
      parameters:
        - name: barcode
          in: query
          required: false
          description: The barcode to search for.
          schema:
            type: string
      responses:
        '200':
          description: Successful response with product and vessel details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
              example:
                status: Success
                product:
                  id: 1
                  batchCode: 23SP_CO_1
                  vesselId: null
                  description: 2023 Spirits
                  descriptionCanEdit: true
                  volume:
                    value: 0
                    unit: gal
                  vesselCode: null
                  hasDipTable: false
                  dipTableEndpoint: null
                  colour: Spirits
                  beverageTypeProperties:
                    iconColour: '#a19f9f'
                    statusCharacter: W
                    statusString: Wine (spirits)
                    textColour: '#FFFFFF'
                    linkedBeverageType:
                      id: 16
                      name: Spirits
                      summary: null
                      type: BeverageType
                  physicalProductState: Wine
                  vesselType: null
                  productStatus: SPIRITS-W
                  productAnalysisEndpoint: /vinx2/api/v/product-analysis/1
                  productCompositionEndpoint: /vinx2/api/v/product-composition/1
                  productEndpoint: /vinx2/api/v/products/1
                  productJobEndpoint: /vinx2/api/v/product-jobs/1
                  liveMetrics: []
                  fieldValuePairs:
                    - field: Product State
                      value: null
                      fieldId: null
                      canEdit: true
                      canDeselect: false
                      fieldGroup: null
                      subText: null
                      actionType: null
                      editableFieldType: ProductState
                    - field: Owner
                      value: JX2 Winery
                      fieldId: null
                      canEdit: false
                      canDeselect: false
                      fieldGroup: null
                      subText: null
                      actionType: null
                      editableFieldType: null
                  canAccessNotes: true
                  notesCount: 0
                  notesEndpoint: /vinx2/api/v/product-notes/1
                  measureEndpoint: /vinx2/api/v/measure
                  barrelGroupEndpoint: null
                  enableVolumeAdjustment: false
                  capacity: null
                  tags: []
                  canEditTags: true
                  canSubmitOperations: true
                  batchHasMovableVessels: false
                vessel:
                  id: 123
                  vesselType: Tank
  /products/list:
    get:
      summary: List available products
      operationId: List available products
      description: Returns a list of all active products.
      tags:
        - Bulk wine
      parameters:
        - name: barcode
          in: query
          description: Can either be the vessel code or the asset ID.
          example: BX54
          schema:
            type: string
        - name: max
          in: query
          description: 'The starting index of results. Default: 100.'
          example: '30'
          schema:
            type: string
        - name: first
          in: query
          description: The starting index of results.
          example: '10'
          schema:
            type: string
        - name: skipMetrics
          in: query
          description: 'False by default,if true will not include the metric data in the results.'
          example: 'true'
          schema:
            type: boolean
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
              example:
                status: Success
                products:
                  - id: 2407
                    batchCode: 10CHHPR02
                    vesselId: 193
                    description: null
                    descriptionCanEdit: true
                    volume:
                      value: 0.99045188
                      unit: gal
                    vesselCode: TIR14
                    hasDipTable: false
                    dipTableEndpoint: null
                    colour: White
                    physicalProductState: Wine
                    vesselType: Bin Group
                    productStatus: WHITE-WINE
                    productAnalysisEndpoint: /vinx2/api/v/product-analysis/2407
                    productCompositionEndpoint: /vinx2/api/v/product-composition/2407
                    productEndpoint: /vinx2/api/v/products/2407
                    liveMetrics:
                      - id: 1
                        name: TSO2
                        unit: ppm
                        dataType: STRING
                        dataTypeValues: null
                        minVal: 0
                        maxVal: 200
                        measurements:
                          - value: '88'
                            rateOfChange: null
                            measurementDateText: 4 Years ago
                            measurementDate: 1371779280000
                            resultId: 43144
                            canDelete: false
                      - id: 20
                        name: Brix
                        unit: °
                        dataType: STRING
                        dataTypeValues: null
                        minVal: null
                        maxVal: null
                        measurements:
                          - value: '24'
                            rateOfChange: null
                            measurementDateText: 4 Years ago
                            measurementDate: 1371779280000
                            resultId: 43145
                            canDelete: false
                      - id: 11
                        name: pH
                        unit: ''
                        dataType: STRING
                        dataTypeValues: null
                        minVal: 2.8
                        maxVal: 4.2
                        measurements:
                          - value: '3.27'
                            rateOfChange: null
                            measurementDateText: 4 Years ago
                            measurementDate: 1371779280000
                            resultId: 43143
                            canDelete: false
                      - id: 15
                        name: TA
                        unit: g/L
                        dataType: STRING
                        dataTypeValues: null
                        minVal: 0
                        maxVal: 11
                        measurements:
                          - value: '0.5'
                            rateOfChange: null
                            measurementDateText: 4 Years ago
                            measurementDate: 1371779280000
                            resultId: 43142
                            canDelete: false
                      - id: 7
                        name: FSO2
                        unit: ppm
                        dataType: STRING
                        dataTypeValues: null
                        minVal: 0
                        maxVal: 0
                        measurements:
                          - value: '43'
                            rateOfChange: null
                            measurementDateText: 9 Months ago
                            measurementDate: 147501870000
                            resultId: 523
                            canDelete: false
                    fieldValuePairs:
                      - field: Product State
                        value: Ready for Bottling
                        fieldId: 5
                        canEdit: true
                        canDeselect: false
                        editableFieldType: ProductState
                      - field: Owner
                        value: Bubb Lee Wines
                        fieldId: null
                        canEdit: false
                        canDeselect: false
                        editableFieldType: null
                      - field: Program
                        value: null
                        fieldId: null
                        canEdit: true
                        canDeselect: true
                        editableFieldType: Program
                      - field: Grading
                        value: null
                        fieldId: null
                        canEdit: true
                        canDeselect: false
                        editableFieldType: Grading
                      - field: Location
                        value: Dispatch
                        fieldId: null
                        canEdit: false
                        canDeselect: false
                        editableFieldType: null
                      - field: Varietal
                        value: Zinfandel
                        fieldId: 5
                        canEdit: true
                        canDeselect: true
                        editableFieldType: Varietal
                      - field: Sub AVA
                        value: Paso Robles
                        fieldId: 3
                        canEdit: true
                        canDeselect: true
                        editableFieldType: Region
                      - field: Last Topping
                        value: 11 Months ago
                        fieldId: null
                        canEdit: false
                        canDeselect: false
                        editableFieldType: null
                      - field: Last Addition
                        value: 9 Months ago
                        fieldId: null
                        canEdit: false
                        canDeselect: false
                        editableFieldType: null
                    canAccessNotes: true
                    notesCount: 0
                    notesEndpoint: /vinx2/api/v/product-notes/2407
                  - id: 2413
                    batchCode: 10CHVHV02
                    vesselId: 122
                    description: null
                    descriptionCanEdit: true
                    volume:
                      value: 84.5
                      unit: gal
                    vesselCode: BX13
                    hasDipTable: false
                    dipTableEndpoint: null
                    colour: Blend
                    physicalProductState: Wine
                    vesselType: Barrel Group
                    productStatus: BLEND-WINE
                    productAnalysisEndpoint: /vinx2/api/v/product-analysis/2413
                    productCompositionEndpoint: /vinx2/api/v/product-composition/2413
                    productEndpoint: /vinx2/api/v/products/2413
                    liveMetrics:
                      - id: 1
                        name: TSO2
                        unit: ppm
                        dataType: STRING
                        dataTypeValues: null
                        minVal: 0
                        maxVal: 200
                        measurements:
                          - value: '101.12'
                            rateOfChange: null
                            measurementDateText: 3 Years ago
                            measurementDate: 139753470000
                            resultId: 43388
                            canDelete: false
                      - id: 7
                        name: FSO2
                        unit: ppm
                        dataType: STRING
                        dataTypeValues: null
                        minVal: 0
                        maxVal: 0
                        measurements:
                          - value: '25'
                            rateOfChange: null
                            measurementDateText: 3 Years ago
                            measurementDate: 139753470000
                            resultId: 43389
                            canDelete: false
                    fieldValuePairs:
                      - field: Product State
                        value: Post ML Racking
                        fieldId: 7
                        canEdit: true
                        canDeselect: false
                        editableFieldType: ProductState
                      - field: Barrel count
                        value: '12'
                        fieldId: null
                        canEdit: false
                        canDeselect: false
                        editableFieldType: null
                      - field: Owner
                        value: JX2 Winery
                        fieldId: null
                        canEdit: false
                        canDeselect: false
                        editableFieldType: null
                      - field: Program
                        value: null
                        fieldId: null
                        canEdit: true
                        canDeselect: true
                        editableFieldType: Program
                      - field: Grading
                        value: null
                        fieldId: null
                        canEdit: true
                        canDeselect: false
                        editableFieldType: Grading
                      - field: Location
                        value: 12 @ Warehouse
                        fieldId: null
                        canEdit: false
                        canDeselect: false
                        editableFieldType: null
                      - field: Varietal
                        value: CHARDONNAY
                        fieldId: 2
                        canEdit: true
                        canDeselect: true
                        editableFieldType: Varietal
                      - field: Sub AVA
                        value: Russian River Valley
                        fieldId: null
                        canEdit: true
                        canDeselect: true
                        editableFieldType: Region
                      - field: Last Topping
                        value: 11 Months ago
                        fieldId: null
                        canEdit: false
                        canDeselect: false
                        editableFieldType: null
                      - field: Last Addition
                        value: 11 Months ago
                        fieldId: null
                        canEdit: false
                        canDeselect: false
                        editableFieldType: null
                    canAccessNotes: true
                    notesCount: 0
                    notesEndpoint: /vinx2/api/v/product-notes/2413
  /product-update:
    post:
      summary: Update a product
      operationId: Update a product
      description: 'To update a product, you need to provide the `productId` of the product. The propertyTypes that are available to be updated from this endpoint Grading, ProductState, Program, ProductCategory, Varietal, Region, Vintage, Description. You can query for the `propertyId` of the propertyType by using the /search endpoint.'
      tags:
        - Bulk wine
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              productId: 4339
              updateFields:
                - propertyValue: 2014 Napa Carneros Pinot Gris
                  propertyType: Description
                - propertyId: 5
                  propertyType: Grading
            schema:
              $ref: '#/components/schemas/ProductUpdateData'
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductUpdateResponse'
              example:
                status: Success
                errorList: []
                product:
                  id: 4339
                  batchCode: 11CHBLRR-DEMO
                  vesselId: 3271
                  description: 2014 Napa Carneros Pinot Gris
                  descriptionCanEdit: true
                  volume:
                    value: 100
                    unit: gal
                  vesselCode: T0-30
                  hasDipTable: false
                  dipTableEndpoint: null
                  colour: White
                  beverageTypeProperties:
                    iconColour: '#D4C389'
                    statusCharacter: W
                    statusString: Wine (white)
                    textColour: '#FFFFFF'
                  physicalProductState: Wine
                  vesselType: Tank
                  productStatus: WHITE-W
                  productAnalysisEndpoint: /vinx2/api/v/product-analysis/4339
                  productCompositionEndpoint: /vinx2/api/v/product-composition/4339
                  productEndpoint: /vinx2/api/v/products/4339
                  liveMetrics:
                    - id: 1
                      name: Alcohol
                      unit: '%'
                      dataType: STRING
                      dataTypeValues: null
                      minVal: null
                      maxVal: null
                      grouping: null
                      canAddValue: true
                      measurements:
                        - value: '14.5'
                          rateOfChange: null
                          measurementDateText: 3 Years ago
                          measurementDate: 143155200000
                          resultId: 73924
                          canDelete: false
                          measurementValidity: MEASURED
                    - id: 20
                      name: Brix
                      unit: °
                      dataType: STRING
                      dataTypeValues: null
                      minVal: null
                      maxVal: null
                      grouping: null
                      canAddValue: true
                      measurements:
                        - value: '-1'
                          rateOfChange: null
                          measurementDateText: 7 Years ago
                          measurementDate: 1317122820000
                          resultId: 73925
                          canDelete: false
                          measurementValidity: MEASURED
                    - id: 7
                      name: FSO2
                      unit: ppm
                      dataType: STRING
                      dataTypeValues: null
                      minVal: 0
                      maxVal: 0
                      grouping: null
                      canAddValue: true
                      measurements:
                        - value: '18'
                          rateOfChange: null
                          measurementDateText: 2 Years ago
                          measurementDate: 1480390200000
                          resultId: 73928
                          canDelete: false
                          measurementValidity: MEASURED
                    - id: 14
                      name: Temp
                      unit: °
                      dataType: STRING
                      dataTypeValues: null
                      minVal: null
                      maxVal: null
                      grouping: null
                      canAddValue: true
                      measurements:
                        - value: '8'
                          rateOfChange: null
                          measurementDateText: 7 Years ago
                          measurementDate: 1317122820000
                          resultId: 7392
                          canDelete: false
                          measurementValidity: MEASURED
                    - id: 1
                      name: TSO2
                      unit: ppm
                      dataType: STRING
                      dataTypeValues: null
                      minVal: 0
                      maxVal: 200
                      grouping: null
                      canAddValue: true
                      measurements:
                        - value: '85'
                          rateOfChange: null
                          measurementDateText: 3 Years ago
                          measurementDate: 1427407200000
                          resultId: 73927
                          canDelete: false
                          measurementValidity: MEASURED
                  fieldValuePairs:
                    - field: Product State
                      value: Ready for Bottling
                      fieldId: 5
                      canEdit: true
                      canDeselect: false
                      fieldGroup: null
                      editableFieldType: ProductState
                    - field: Owner
                      value: JX2 Winery
                      fieldId: null
                      canEdit: false
                      canDeselect: false
                      fieldGroup: null
                      editableFieldType: null
                    - field: Program
                      value: 2011 CH
                      fieldId: 13
                      canEdit: true
                      canDeselect: true
                      fieldGroup: null
                      editableFieldType: Program
                    - field: Grading
                      value: 2ND TIER
                      fieldId: 5
                      canEdit: true
                      canDeselect: false
                      fieldGroup: null
                      editableFieldType: Grading
                    - field: Location
                      value: Main Shed
                      fieldId: null
                      canEdit: false
                      canDeselect: false
                      fieldGroup: null
                      editableFieldType: null
                    - field: Variety
                      value: Pinot Gris
                      fieldId: 10
                      canEdit: true
                      canDeselect: true
                      fieldGroup: null
                      editableFieldType: Varietal
                    - field: Sub AVA
                      value: null
                      fieldId: null
                      canEdit: true
                      canDeselect: true
                      fieldGroup: null
                      editableFieldType: Region
                    - field: Last Topping
                      value: 2 Years ago
                      fieldId: null
                      canEdit: false
                      canDeselect: false
                      fieldGroup: null
                      editableFieldType: null
                    - field: Last Addition
                      value: 2 Years ago
                      fieldId: null
                      canEdit: false
                      canDeselect: false
                      fieldGroup: null
                      editableFieldType: null
                  canAccessNotes: true
                  notesCount: 1
                  notesEndpoint: /vinx2/api/v/product-notes/4339
                  measureEndpoint: /vinx2/api/v/measure
                  barrelGroupEndpoint: null
                  enableVolumeAdjustment: true
                  capacity: 10000
  /transaction/search:
    get:
      summary: Transaction search
      operationId: Transaction search
      description: Returns a list of all operations. These are the same transactions that get generated from Work Detail Report in vintrace.
      tags:
        - Bulk wine
      parameters:
        - name: dateFrom
          in: query
          description: Format in YYYY-MM-DD format. Defaults to current date if not provided. Search for operations completed on or after this date.
          example: '2017-07-18'
          schema:
            type: string
        - name: dateTo
          in: query
          description: Format in YYYY-MM-DD format.  Defaults to current date if not provided. Search for operations completed on or before this date.
          example: '2017-08-08'
          schema:
            type: string
        - name: ownerName
          in: query
          description: String that matches the owner name.
          example: JX2 Winery
          schema:
            type: string
        - name: batchName
          in: query
          description: String that matches the batch name.
          example: 2017CH-Prog
          schema:
            type: string
        - name: wineryName
          in: query
          description: String that matches the winery name.
          example: JX2 Winery
          schema:
            type: string
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionSummaryResponse'
              example:
                status: Success
                message: null
                transactionSummaries:
                  - formattedDate: 08/10/2018
                    date: 1533874920000
                    operationId: 4205
                    operationTypeId: 3
                    operationTypeName: Transfer
                    subOperationTypeId: 7805
                    subOperationTypeName: Transfer
                    workorder: null
                    jobNumber: null
                    treatment: null
                    assignedBy: null
                    completedBy: 'A, cristelle'
                    winery: JX2 Winery
                    fromVessel:
                      name: T1-0
                      id: null
                      beforeDetails:
                        contentsId: 5401
                        batch: 2017CH-Prog
                        batchId: 4342
                        volume: 237
                        volumeUnit: gal
                        dip: '237'
                        state: null
                        rawTaxClass: Not over 14%
                        federalTaxClass: Not over 1%
                        stateTaxClass: Not over 14%
                        program: 2017 CH
                      afterDetails:
                        contentsId: 5401
                        batch: 2017CH-Prog
                        batchId: 4342
                        volume: 137
                        volumeUnit: gal
                        dip: '137'
                        state: null
                        rawTaxClass: Not over 14%
                        federalTaxClass: Not over 1%
                        stateTaxClass: Not over 14%
                        program: 2017 CH
                      volOut: 100
                      volOutUnit: gal
                    toVessel:
                      name: TJX-110
                      id: 439
                      beforeDetails:
                        contentsId: null
                        batch: null
                        batchId: null
                        volume: 0
                        volumeUnit: gal
                        dip: ''
                        state: null
                        rawTaxClass: null
                        federalTaxClass: null
                        stateTaxClass: null
                        program: null
                      afterDetails:
                        contentsId: 538
                        batch: 2017CH-Prog
                        batchId: 4342
                        volume: 100
                        volumeUnit: gal
                        dip: ''
                        state: null
                        rawTaxClass: Not over 14%
                        federalTaxClass: Not over 1%
                        stateTaxClass: Not over 14%
                        program: 2017 CH
                      volIn: 100
                      volInUnit: gal
                    lossDetails:
                      volume: 0
                      volumeUnit: gal
                      reason: null
                    additionOps: null
                    analysisOps: null
                    additionalDetails: null
                  - formattedDate: 08/10/2018
                    date: 1533874920000
                    operationId: 420
                    operationTypeId: 4
                    operationTypeName: Intake delivery
                    subOperationTypeId: 7807
                    subOperationTypeName: Intake
                    workorder: null
                    jobNumber: null
                    treatment: null
                    assignedBy: null
                    completedBy: 'BROWN, Mr Lewis'
                    winery: JX2 Winery
                    fromVessel: null
                    toVessel: null
                    lossDetails: null
                    additionOps: null
                    analysisOps: null
                    additionalDetails:
                      varietal: CHARDONNAY
                      summary: Delivery intake
                      vintage: '2018'
                      subAva: Napa Valley
                      grower: JX2 Winery
                      bookingNo: BN81
                      owner: JX2 Winery
                      block: B2 - CH
                      netAmountUnit: T
                      netAmount: 2
                      dockets:
                        - 479 / 1
                  - formattedDate: 08/10/2018
                    date: 1533875280000
                    operationId: 4207
                    operationTypeId: 0
                    operationTypeName: Extraction
                    subOperationTypeId: 7809
                    subOperationTypeName: Transfer
                    workorder: null
                    jobNumber: null
                    treatment: null
                    assignedBy: null
                    completedBy: 'BROWN, Mr Lewis'
                    winery: JX2 Winery
                    fromVessel: null
                    toVessel:
                      name: TJX-112
                      id: 4371
                      beforeDetails:
                        contentsId: null
                        batch: null
                        batchId: null
                        volume: 0
                        volumeUnit: gal
                        dip: ''
                        state: null
                        rawTaxClass: null
                        federalTaxClass: null
                        stateTaxClass: null
                        program: null
                      afterDetails:
                        contentsId: 542
                        batch: JX18CH130
                        batchId: 540
                        volume: 500
                        volumeUnit: gal
                        dip: ''
                        state: null
                        rawTaxClass: null
                        federalTaxClass: null
                        stateTaxClass: null
                        program: null
                      volIn: 500
                      volInUnit: gal
                    lossDetails:
                      volume: 0
                      volumeUnit: gal
                      reason: null
                    additionOps: null
                    analysisOps: null
                    additionalDetails:
                      press: Winery Press
                      crusher: WHOLE BUNCH
                      fractionType: Pressings
                      extraction:
                        parcels:
                          - docket: 479 / 1
                            bookingNo: BN81
                            growerId: 3
                            growerName: JX2 Winery
                            vineyardId: 1
                            vineyardName: JX2 Napa Vineyard
                            blockId: 2
                            blockName: B2 - CH
                            weight: 2
                            weightUnit: T
                      dockets:
                        - 479 / 1
                  - formattedDate: 08/10/2018
                    date: 153387530000
                    operationId: 4208
                    operationTypeId: 4
                    operationTypeName: Intake delivery
                    subOperationTypeId: 7811
                    subOperationTypeName: Intake
                    workorder: null
                    jobNumber: null
                    treatment: null
                    assignedBy: null
                    completedBy: 'ADMINISTRATOR, System'
                    winery: JX2 Winery
                    fromVessel: null
                    toVessel: null
                    lossDetails: null
                    additionOps: null
                    analysisOps: null
                    additionalDetails:
                      varietal: CHARDONNAY
                      summary: Delivery intake
                      vintage: '2018'
                      subAva: Napa Valley
                      grower: 'GILCHRIST, Mr Jamie'
                      bookingNo: BN84
                      owner: JX2 Winery
                      block: B1 - CH
                      netAmountUnit: T
                      netAmount: 2
                      dockets:
                        - 480 / 1
  /intake-operations/search:
    get:
      summary: Fruit intake operation search
      operationId: Fruit intake operation search
      description: Returns a list of fruit intake operations matching search criteria.
      tags:
        - Harvest
      parameters:
        - name: modifiedSince
          in: query
          description: 'Filter on records that have been added/modified/reversed since this date - represented as milliseconds since 01/01/1970 00:00:00 GMT'
          example: '157813337000'
          schema:
            type: string
        - name: operationId
          in: query
          description: Operation id to filter on for a specific fruit intake operation
          example: '492'
          schema:
            type: integer
        - name: processId
          in: query
          description: Delivery process id to filter all intakes for a specific delivery
          example: '3038'
          schema:
            type: integer
        - name: deliveryDocket
          in: query
          description: Docket/Weigh Tag number as generated by vintrace to identify a specific fruit delivery
          example: 407 / 1
          schema:
            type: string
        - name: intakeDocket
          in: query
          description: Docket/Weigh Tag number as generated by vintrace to identify a specific fruit intake
          example: 407 / 1
          schema:
            type: string
        - name: externalWeighTag
          in: query
          description: 3rd party weigh tag as provided by external system to identify a specific fruit intake
          example: PB-TT-1231
          schema:
            type: string
        - name: externalSystemBlocksOnly
          in: query
          description: Only show fruit intakes for blocks that have an external id set
          example: 'true'
          schema:
            type: boolean
        - name: externalBlockId
          in: query
          description: Only show fruit intakes for the block with matching externalBlockId
          example: '89712'
          schema:
            type: string
        - name: blockId
          in: query
          description: Only show fruit intakes for the block with matching vintrace internal identifier
          example: '1'
          schema:
            type: integer
        - name: blockName
          in: query
          description: Only show fruit intakes for the blocks with matching this name
          example: CH1
          schema:
            type: string
        - name: vineyardId
          in: query
          description: Only show fruit intakes for the vineyard with matching vintrace internal identifier
          example: '1'
          schema:
            type: integer
        - name: vineyardName
          in: query
          description: Only show fruit intakes for the vineyards matching this name
          example: Eastern Vineyard
          schema:
            type: string
        - name: wineryId
          in: query
          description: Only show fruit intakes for the winery with matching vintrace internal identifier
          example: '1'
          schema:
            type: integer
        - name: wineryName
          in: query
          description: Only show fruit intakes for the wineries matching this name
          example: JX2 Winery
          schema:
            type: string
        - name: growerType
          in: query
          description: Only show fruit intakes for the grower type matching
          example: External
          schema:
            type: string
        - name: growerId
          in: query
          description: Only show fruit intakes for the grower with matching vintrace internal identifier
          example: '3'
          schema:
            type: integer
        - name: growerName
          in: query
          description: Only show fruit intakes for the grower matching this name
          example: JX2 Winery
          schema:
            type: string
        - name: ownerId
          in: query
          description: Only show fruit intakes for the owner with matching vintrace internal identifier
          example: '2'
          schema:
            type: integer
        - name: ownerName
          in: query
          description: Only show fruit intakes for the owner matching this name
          example: JX2 Winery
          schema:
            type: string
        - name: vintage
          in: query
          description: Only show fruit intakes for this vintage in YYYY format
          example: '2020'
          schema:
            type: string
        - name: recordedAfter
          in: query
          description: 'Filter on records with an effective date after this date - represented as milliseconds since 01/01/1970 00:00:00 GMT'
          example: '157813337000'
          schema:
            type: string
        - name: recordedBefore
          in: query
          description: 'Filter on records with an effective date before this date - represented as milliseconds since 01/01/1970 00:00:00 GMT'
          example: '157813337000'
          schema:
            type: string
        - name: customAdapter
          in: query
          description: Special adapter reference to provide customized fields in additionalDetails map.  Use as directed by vintrace
          example: ZZZ
          schema:
            type: string
        - name: maxResults
          in: query
          description: Maximum results to fetch in a page of data
          example: '20'
          schema:
            type: integer
        - name: firstResult
          in: query
          description: Skip over this many results
          example: '40'
          schema:
            type: integer
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntakeOperationSearchResponse'
  /sample-operations/search:
    get:
      summary: Maturity samples search
      operationId: Maturity samples search
      description: Returns a list of fruit intake operations matching search criteria.
      tags:
        - Harvest
      parameters:
        - name: modifiedSince
          in: query
          description: 'Filter on records that have been added/modified/reversed since this date - represented as milliseconds since 01/01/1970 00:00:00 GMT'
          example: '157813337000'
          schema:
            type: string
        - name: operationId
          in: query
          description: Operation id to filter on for a specific fruit intake operation
          example: '492'
          schema:
            type: integer
        - name: processId
          in: query
          description: Delivery process id to filter all intakes for a specific delivery
          example: '3038'
          schema:
            type: integer
        - name: externalSystemBlocksOnly
          in: query
          description: Only show fruit intakes for blocks that have an external id set
          example: 'true'
          schema:
            type: boolean
        - name: externalBlockId
          in: query
          description: Only show fruit intakes for the block with matching externalBlockId
          example: '89712'
          schema:
            type: string
        - name: blockId
          in: query
          description: Only show fruit intakes for the block with matching vintrace internal identifier
          example: '1'
          schema:
            type: integer
        - name: blockName
          in: query
          description: Only show fruit intakes for the blocks with matching this name
          example: CH1
          schema:
            type: string
        - name: vineyardId
          in: query
          description: Only show fruit intakes for the vineyard with matching vintrace internal identifier
          example: '1'
          schema:
            type: integer
        - name: vineyardName
          in: query
          description: Only show fruit intakes for the vineyards matching this name
          example: Eastern Vineyard
          schema:
            type: string
        - name: growerId
          in: query
          description: Only show fruit intakes for the grower with matching vintrace internal identifier
          example: '3'
          schema:
            type: integer
        - name: growerName
          in: query
          description: Only show fruit intakes for the grower matching this name
          example: JX2 Winery
          schema:
            type: string
        - name: ownerId
          in: query
          description: Only show fruit intakes for the owner with matching vintrace internal identifier
          example: '2'
          schema:
            type: integer
        - name: ownerName
          in: query
          description: Only show fruit intakes for the owner matching this name
          example: JX2 Winery
          schema:
            type: string
        - name: vintage
          in: query
          description: Only show fruit intakes for this vintage in YYYY format
          example: '2020'
          schema:
            type: string
        - name: recordedAfter
          in: query
          description: 'Filter on records with an effective date after this date - represented as milliseconds since 01/01/1970 00:00:00 GMT'
          example: '157813337000'
          schema:
            type: string
        - name: recordedBefore
          in: query
          description: 'Filter on records with an effective date before this date - represented as milliseconds since 01/01/1970 00:00:00 GMT'
          example: '157813337000'
          schema:
            type: string
        - name: customAdapter
          in: query
          description: Special adapter reference to provide customized fields in additionalDetails map.  Use as directed by vintrace
          example: ZZZ
          schema:
            type: string
        - name: maxResults
          in: query
          description: Maximum results to fetch in a page of data
          example: '20'
          schema:
            type: integer
        - name: firstResult
          in: query
          description: Skip over this many results
          example: '40'
          schema:
            type: integer
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SampleOperationSearchResponse'
              example:
                status: OK
                message: null
                resultCount: null
                resultLimit: 2
                nextResult: 2
                samples:
                  - operationId: 1
                    processId: 9
                    reversed: false
                    modified: 138274092000
                    block:
                      id: 1
                      name: Block 1
                      summary: null
                      type: Block
                      shortCode: null
                      externalCode: '7177'
                    vineyard:
                      id: 1
                      name: V1
                      summary: null
                      type: Vineyard
                      shortCode: null
                      externalCode: null
                    grower:
                      id: 2
                      name: CB Wines
                      summary: null
                      type: Grower
                      shortCode: null
                      externalCode: null
                    region:
                      id: null
[...]
